/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: "lucida grande";
    src: url("../fonts/6216.ttf");
}

.container{
    height: 100%;
    margin-top: 60px;
    z-index: 1000;
}

html {
    line-height: 1.4;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    height: 100%;
}

body{
    height: 100%;
}

main{
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 100000;
}

nav p:hover{
    color: #000;
}

a{
    text-decoration: none;
}

iframe{
    width: 90%;
    height: calc(100% - 50px);
    border: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

 audio,
 canvas,
 iframe,
 img,
 svg,
 video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

 fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

   .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hamburger{
    display: none;
}

#mobile-menu{
    display: none;
}

.fp-tableCell{
    height: 100%!important;
}

.section{
    height: 100%!important;
}

.full{
    height: 100%;
}
#fp-nav ul li a{
    background: none;
}

#fp-nav ul li a span{
    background: #B4DA44;
}
.nav-container{
    background-color: #49B6E9;
    width: calc(100% - 10px);
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
}

.activeNav{
    background-color: #77c8ef;
}

.nav-div{
    float: left;
    width: 166px;
    height: 60px;
    text-align: center;
}

.nav-div p{
    margin: 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav-div a{
    display: block;
}

.fun{
    float: right;
}

.clear{
    clear: both;
}

.container{
    background: url('../img/content-img.jpg')!important;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.index-content{
    height: 100%;
}

.welcome{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 60px;
}

.welcome h1{
    margin: 0;
}

.welcome p{
    margin: 0;
}

.map{
    height: 500px;
    width: 500px;
    overflow: hidden;

}

.leaflet-popup-content{
    color: #000;
}

.mapWrap{
    width: 600px;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(000,000,000, 0.7);
    float: left;
    height: calc(100% - 100px);
    color: #fff;
}

.mapText{
    padding-top: 20px;
    width: calc(100% - 600px);
    float: right;
    background-color: rgba(000,000,000, 0.7);
    height: calc(100% - 100px);
    text-align: left;
    color: #fff;
}

.mapText p{
    padding-left: 10px;
    margin-top: 0;
}

.mapText img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.mapWelcome{
    padding-top: 60px;
    background: rgba(255,255,255, 0.9);
    border-bottom: 1px solid #000;
}

.mapWelcome h1{
    margin: 0;
    padding: 10px 0;
}

.bike{
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300px; 
}

50% {
    margin-left: 0%;
    width: 300px;
}

100%{
    margin-left: auto;
}
}

@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300px; 
}

50% {
    margin-left: 0%;
    width: 300px;
}

100%{
    margin-left: auto;
}
}

#dock-container {
    position: fixed;
    bottom: -100%;
    text-align: center;
    width: 100%;
    display: none;
}
#dock {
    position: relative;
    display: inline-block;
    -webkit-perspective: 400;
    -moz-perspective: 400;
}

#dock span{
    color: #fff;
}
#dock .base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: -10;
    background-color: #888;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
    background-image: -webkit-linear-gradient(top, #333, #999); 
    background-image: -moz-linear-gradient(top, #333, #999); /* Gradient works on FF 3.6+ */
    opacity: .5;
    filter: alpha(opacity=50);
    border-bottom: 2px #aaa solid;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(55deg); /* 3d - works on webkit only */
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(55deg); /* not supported on current 3.7 */
    -o-transform-origin: 50% 100%;
    -o-transform: rotateX(55deg); /* not supported on current 10.6 */
}
#dock ul {
    font-size: 14px;
    padding: 0 30px;
    margin: 0;
}
#dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;     
}
#dock li span {
    display: none;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    padding: 4px 0;
    border-radius: 12px; /* webkit nightly */
    -webkit-border-radius: 12px; /* for safari */
    -moz-border-radius: 12px;
}
#dock li:hover span {
    display: block;
}
#dock li img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    -webkit-box-reflect: below 2px
    -webkit-gradient(linear, left top, left bottom, from(transparent),
        color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-box-reflect: below 2px -webkit-linear-gradient(top, transparent, rgba(255,255,255,.3));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    -moz-transition: all 0.4s;
    -moz-transform-origin: 50% 100%;
    -o-transition: all 0.3s;
    -o-transform-origin: 50% 100%;
}
#dock li:hover img { 
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin: 0 2em 10px;
}

/* one element after and element before (with JS)*/
#dock li:hover + li img,
#dock li.prev img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin: 0 1.4em 10px;
}

.timeline{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: ;  
}

.timeline-box{
    position: absolute;
    width: 50%;
    height: 400px;
    width: 600px;
    text-align: left;
    border: 2px solid black;
    left: 50%;
    top: 100px;
    margin-left: -25%;
}

#Y2007{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
}

#Y2007 img{
    margin-top: 50px;
}

#Y2012{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    left: 100%;
}

#Y2012 img{
    margin-top: 50px;
}
#Y2014{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
    left: 150%;
}

#Y2014 img{
    margin-top: 50px;
}

#iJoin{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
    left: 200%;
}

#iJoin img{
    margin-top: 50px;
}

#sheffBrick{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
    left: 250%;
}

#sheffBrick img{
    margin-top: 50px;
}

#sheffGA{
    border: 3px solid #000;
    padding: 10px;
    background-color: rgba(255,255,255,.9);
    display: inline-block;
    left: 300%;
}

#sheffGA img{
    margin-top: 50px;
}

.photos-content{
    height: 100%;
}

.instagram{
    width: 100%;
    overflow: hidden;
    margin-left: 0;
}

.instagram-container{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.leftarrow, .rightarrow{
    width: 50px;
    margin-top: 400px;
}

.leftarrow{
    float: left;
}

.rightarrow{
    float: right;
    z-index: 1000;
    position: relative;
}

.instaLogo{
    background-image: url('../img/insta-logo.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 420px 50px;
    height: 50px;
    width: 500px;
    margin: 60px auto 0 auto;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;;
}

.instaImg{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-color: #52B5EE;
    background-image: url('../img/placeholder.png');

    border: 3px solid #fff;
}

.instaCapt{
    background-color: #FFFFFF;
    width: 500px;
    margin: 0 auto;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.instaCapt p {
    margin: 0;
}

.video{
    text-align: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
}

.buttons{
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.arrow-left{
    width: 50px;
    float: left;
}

.arrow-right{
    width: 50px;
    float: right;
}

.bio{
    text-align: left;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
    width: 60%;
    background-color: rgba(255,255,255,.9);
    float: left;
    height: 100%;
}

.bio a:visited{
    color: #0000EE;
}

.portrait{
    width: calc(40% - 30px);
    float: right;
    display: inline;
    overflow: hidden;
}

.bio-container{
    height: 100%;
    overflow: hidden;
    background: rgba(255,255,255,.9);
}

.bio-pic{
    float: right;
    width: 100%;

}

#slide-numbers{
    z-index: -1;
}



/*====================================================================
Media Queries
=====================================================================*/
@media (max-width: 1075px){
    .mapWelcome{
        padding: 0px;
        margin-top: 110px;
    }
}


@media (max-width: 700px){
    .mapWelcome{
        margin-top: 40px;
        padding-top: 0px;
    }
}

@media (max-width: 1050px){
    .mapWelcome{
        padding: 60px;
        margin-top: 0;
    }
    #mobile-menu {
        margin-top: 60px;
        position: fixed;
        height: 100%;
        top: 0;
        right: -250px;
        background: #222;
        max-width: 250px;
        width: 100%;
        z-index: 5;
        text-align: center;
        display: flex;
        flex-direction: column; }

    #mobile-menu a {
        flex: 1;
        color: white;
        border-top: 1px solid #555;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center; }
    #mobile-menu a:hover, #main-nav a.current {
        background: #3c3c3c; 
    }

    .mapWelcome{
        padding: 0;
    }

    .hamburger{
        height: 60px;
        width: 60px;
        float: right;
        display: inline-block;
    }

    .burger-lines{
        height: 3px;
        width: 50px;
        margin: 5px auto;
        border: 1px solid white;
        background-color: white;
        border-radius: 5px;
    }

    .burger-lines:nth-child(1){
        margin-top: 18px;
    }
    .nav-div a{
        display: none;
    }
    .logo a{
        display: inline-block;
    }
    .mapText{
        display: block;
        width: 100%;
    }

    .mapWrap{
        width: 100%;
        height: 500px;
    }

    #map{
        margin: 0 auto;
    }

    .bike{
        visibility: hidden;
    }

    nav{
        height: 60px;
        overflow: hidden;
    }

    .videoWrapper{
        margin-top: 60px;
    }

    iframe{
    	margin-top: 200px;
    }

    .timeline-box{
        width: 360px;
        height: 600px;
        font-size: 1.2em;
    }

    #dock-container{
        display: none!important;
    }
}

@media (max-width: 1050px) and (orientation:landscape){
    .nav-div a{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .timeline-box{
        width: 480px;
        height: 400px;
        font-size: 1.2em;
    }

    .instaLogo{
        margin-top: 30px;
    }

    .videoWrapper{
        margin-top: 60px;
    }

    iframe{
    	margin-top: 0px;
    }
}

@media (min-width:1650px) and (orientation:landscape){
    .timeline-box{
        width: 780px;
    }
}

@media (max-width: 740px) and (orientation:portrait){
    h1{
        font-size: 1em;
    }

    #map{
        height: 300px !important;
    }

    .mapWrap{
        height: 100%;
    }

    .mapText{
        display: none;
    }

    .timeline-box{
        width: 150px;
        height: 400px;
        top: 50px;
        font-size: 0.7em;
    }

    #dock-container{
        display: none!important;
    }

    h3{
        margin-top: 0;
    }

    .instaLogo{
        margin: 30px auto 0 auto;
        width: 300px;
        height: 0;
    }

    .instaImg{
        height: 300px;
        width: 300px;
    }

    .instaCapt{
        width: 300px;
    }

    .bio{
        font-size: .8em;
    }

    .bio-pic{
        margin-top: 60px;
    }
}

@media (max-width:320px) and (orientation:portrait){
    .videoWrapper{
        margin-top: 300px;
    }
}

@media (max-width: 740px) and (orientation:landscape){
    .nav-div{
        display: none;
    }

    .logo{
        display: inline-block;
    }

    .hamburger{
        display: inline-block;
    }

    h1{
        font-size: 1em;
    }

    .mapWrap{
        display: none;
    }

    .mapText{
        height: 100%;
    }

    .tooSmall{
        display: none;
    }

    .timeline-box{
        width: 250px;
        font-size: 0.6em;
        height: 200px;
        top: 40px;
    }

    h3{
        margin: 0;
    }

    #dock-container{
        display: none!important;
    }

    .instaLogo{
        margin: 30px auto 0 auto;
        width: 200px;
        height: 0;
    }

    .instaImg{
        height: 200px;
        width: 200px;
    }

    .instaCapt{
        width: 200px;
    }

    .rightarrow{
        margin-top: 200px;
    }

    .leftarrow{
        margin-top: 200px;
    }

    .bio{
        font-size: 0.6em;
        padding-top: 0;
    }

    .nav-mobile{
        font-size: 0.8em;
    }

    .videoWrapper iframe{
    	height: 200px!important;
    	margin-top: 60px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

 .hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

 .invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
