/* Color Scheme */
:root {
  --primary-color: #ffc71d;
  --secondary-color: #0038ff;
  --white: #fff;
  --light-gray: #eaecef;
  --light-blue: #e4e6eb;
  --blue-gray: #716f8a;
  --gray: #767676;
  --dark: #111;
  --dark-blue: #1e2740;

  --background-color: var(--white);
  --background-alt-color: var(--light-gray);
  --background-alt-color-2: var(--light-blue);

  --text-color: var(--dark);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--dark);

  --button-color: var(--dark);
  --button-background-color: var(--primary-color);
  --button-background-hover: #ffd34e;

  --border-color: var(--light-gray);
  --border-color-alt: var(--light-gray);

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  // Atom One Light Syntax Theme
  --syntax-bg: #fafafa;
  --syntax-text: #383a42;
  --syntax-comment: #a0a1a7;
  --syntax-string: #50a14f;
  --syntax-number: #986801;
  --syntax-keyword: #a626a4;
  --syntax-operator: #0184bc;
  --syntax-function: #4078f2;
  --syntax-class: #c18401;
  --syntax-builtin: #0184bc;
  --syntax-variable: #e45649;
  --syntax-tag: #e45649;
  --syntax-border: #e5e5e6;
  --syntax-scrollbar-thumb: #d3d4d8;
  --syntax-highlighting-background: var(--syntax-bg);
}

:root[dark] {
  --primary-color: #ffc71d;
  --secondary-color: #22222a;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #111016;

  --background-color: var(--dark);
  --background-alt-color: #22222a;
  --background-alt-color-2: #27272f;

  --text-color: var(--gray);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--dark);
  --button-background-color: var(--primary-color);
  --button-background-hover: #ffd34e;

  --border-color: #2f3135;
  --border-color-alt: #2f3135;

  --th-color: #22222a;
  --tr-color: #22222a;

  // Atom One Dark Syntax Theme
  --syntax-bg: #282c34;
  --syntax-text: #abb2bf;
  --syntax-comment: #5c6370;
  --syntax-string: #98c379;
  --syntax-number: #d19a66;
  --syntax-keyword: #c678dd;
  --syntax-operator: #56b6c2;
  --syntax-function: #61afef;
  --syntax-class: #e5c07b;
  --syntax-builtin: #56b6c2;
  --syntax-variable: #e06c75;
  --syntax-tag: #e06c75;
  --syntax-border: #353b45;
  --syntax-scrollbar-thumb: #4b5263;
  --syntax-highlighting-background: var(--syntax-bg);
}